<html>
<head></head>

<body>


<form action="/add-user" method="POST">
  <input type="text" name="triptitle" placeholder="Trip Title" />
  <input type="text" name="departdate" placeholder="Date of Departure" />
  <input type="text" name="returndate" placeholder="Return Date" />
  <button type="submit">Save</button>
</form>


</body>

</html>
